{% extends 'forms.html' %}
{% block page_title %} {{data[2]}} {% endblock %}

{% block page_header %}
    <style>
        #p2, .destac { color: #b13030; }

        span { color: black; }
    </style>
{% endblock %}

{% block form %}
    <span>Edite as informações:</span><br />
    <input value='{{data[1]}}' type='date' name='date' required /><br />
    <input value='{{data[2]}}' placeholder='Título' name='title' required /><br />
    <input value='{{data[3]}}' placeholder='Descrição' name='detais' required /><br />
    <select style='width: 310px; margin-top: 10px;' name='type'>
        <option value='si'>Saída</option>
        <option value='en'>Entrada</option>
    </select><br />
    <input value='{{data[4]}}' placeholder='Valor em R$' name='value' required /><br />
    <input style='width:310px' type='submit' value='Salvar' required /><br />
{% endblock %}

{% block page_content %}
    <h1 class='destac'>Nome <span>{{data[2]}}</span></h1>
    <h3 class='destac'>Detalhes <span>{{data[3]}}</span></h3>
    <h3 class='destac'>Data <span>{{data[1]}}</span></h3>
    <h3 class='destac'>Valor <span>R${{data[4]}}</span></h3>
    {% if data[5] == 'si' %} <h3 class='destac'>Tipo <span>Saída</span></h3> {% endif %}
    {% if data[5] == 'en' %} <h3 class='destac'>Tipo <span>Entrada</span></h3> {% endif %}
    <h4 class='destac'>Autor <span>{{data[0]}}</span></h4>
    <br />
    <button onclick='$("#form_window").fadeIn("slow")'>Editar</button>
    <a href='/registers/d/{{data[6]}}'><button>Remover</button></a>
    <a href='/registers'><button>Voltar</button></a>
{% endblock %}