{% extends 'forms.html' %}
{% block page_title %} Registros {% endblock %}

{% block page_header %}
    <style>
        #p2 { color: #b13030; }
        
        th { color: #b13030; }

        th, td {
            padding: 15px;
            background-color: #f5f5f5;
        }

    </style>
{% endblock %}

{% block form %}
    <span>Insira as informações:</span><br />
    <input type='date' name='date' required /><br />
    <input placeholder='Título' name='title' required /><br />
    <input placeholder='Descrição' name='detais' required /><br />
    <input placeholder='Valor em R$' name='value' required /><br />
    <select style='width: 315px; margin-top: 10px;' name='type'>
        <option value='si'>Saída</option>
        <option value='en'>Entrada</option>
    </select><br />
    <input style='width:315px' type='submit' value='Registrar' required /><br />
{% endblock %}

{% block page_content %}
    {% if registers == [] %}
        <span onclick='$("#form_window").fadeIn("slow")' class='clicavel'>Novo registro</span>
        <h1>Nada foi registrado ainda...</h1>
    {% else %}
        <span onclick='$("#form_window").fadeIn("slow")' class='clicavel'>Novo registro</span>
        <table>
            <tr>
                <th>Autor</th>
                <th>Data</th>
                <th>Título</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Operções</th>
            {% for i in registers %}
                </tr>
                    {% for l in range(3) %} <td>{{i[l]}}</td> {% endfor %}
                    <td>R${{i[3]}}</td>
                    <td>
                        {% if i[4] == 'si' %} Saída {% endif %}
                        {% if i[4] == 'en' %} Entrada {% endif %}
                    </td>
                    <td>
                        <a href='registers/d/{{i[5]}}'><button>Remover</button></a>
                        <a href='registers/v/{{i[5]}}'><button>Detalhes</button></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}