{% extends 'base.html' %}
{% block title %} {% block page_title %} {% endblock %} {% endblock %}

{% block header %}
    {% block page_header %} {% endblock %}
    <link rel='stylesheet' type='text/css' href='/css/forms.css' />
{% endblock %}

{% block content %}
    <div id='form_window'>
        <span id='close_button' class='clicavel' onclick='$("#form_window").fadeOut("slow")'>x</span>
        <br />
        <form>
            {% block form %}{% endblock %}
        </form>
    </div>
    {% block page_content %} {% endblock %}
{% endblock %}