{% extends 'base.html' %}
{% block title %} Início {% endblock %}

{% block header %}
    <style>
        #p1 { color: #b13030; }
    </style>
{% endblock %}

{% block content %}
    <h1>Bem vindo!</h1>
    <p id="showBalance">Balanço: </p>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            $.ajax({
                url: '/balance',
                success: (result) => {
                    var span = '<span style="color: '+ ((parseFloat(result.data.balance) > 0) ? 'green' : 'red') +';">'+ parseFloat(result.data.balance).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) +'</span>';
                    $('#showBalance').append(span);
                }
            })
        });
    </script>
{% endblock %}