{% extends 'forms.html' %}
{% block page_title %} Registros {% endblock %}

{% block page_header %}
    <style>
        #p2 { color: #b13030; }
        
        th { color: #b13030; }

        th, td {
            padding: 15px;
            background-color: #f5f5f5;
        }

    </style>
{% endblock %}

{% block form %}
    <span>Insira as informações:</span><br />
    <input id="date" type='date' name='date' required /><br />
    <input id="title" placeholder='Título' name='title' required /><br />
    <input id="description" placeholder='Descrição' name='detais' required /><br />
    <select id="type" style='width: 310px; margin-top: 10px;' name='type'>
        <option value='si'>Saída</option>
        <option value='en'>Entrada</option>
    </select><br />
    <select id="class" style='width: 310px; margin-top: 10px;' name='class'>
        <option value='cp'>Curto praso</option>
        <option value='mp'>Médio praso</option>
        <option value='lp'>Longo praso</option>
        <option value='ms'>Mensalidade</option>
    </select><br />
    <input id="value" type="text" data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal="," placeholder='Valor em R$' name='value' required /><br />
    <input style='width:310px' type='submit' value='Registrar' required /><br />
{% endblock %}

{% block page_content %}
<span id="newRegister" class='clicavel'>Novo registro</span>
    <table id="registers">
        <thead>
            <tr>
                <th>Data</th>
                <th>Título</th> 
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Classificação</th>
                <th>Valor</th>
                <!-- <th>Operções</th> -->
            </tr>
        </thead>
        <tbody id="showRegisters"></tbody>
    </table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(() => {

        var registers = null;

        $('#newRegister').on('click', () => {
            $("#form_window").fadeIn("slow");
        });

        $('#value').maskMoney();

        $('form').on('submit', (e) => {
            e.preventDefault();
            $.ajax({
                url: '/registers',
                type: 'post',
                data: {
                    date: $('#date').val(),
                    title: $('#title').val(),
                    description: $('#description').val(),
                    type: $('#type').val(),
                    class: $('#class').val(),
                    value: $('#value').maskMoney('unmasked')[0]
                },
                success: (result) => {
                    $('#date').val('');
                    $('#title').val('');
                    $('#description').val('');
                    $('#type').val('');
                    $('#class').val('');
                    $('#value').val('');
                    $("#form_window").fadeOut();
                    loadTable();
                }
            });
        });

        const loadTable = () => {
            $.ajax({
                url: '/registers/data',
                success: (result) => {
                    if (registers) registers.destroy();
                    $('#showRegisters').empty();
                    for (item of result.data) {
                        let row = $('<tr align="center"></tr>');
                        date = '<td>'+ new Date(item.date).toLocaleDateString() +'</td>';
                        name = '<td>'+ item.name +'</td>';
                        description = '<td>'+ item.description +'</td>';
                        type = '<td>'+ loadType(item.type) +'</td>';
                        _class = '<td>'+ loadClass(item.class) +'</td>';
                        value = '<td style="color: '+ ((item.type == 'en') ? 'green' : 'red') +';">'+ parseFloat(item.value).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) +'</td>';
                        operations = '<td></td>';
                        row.append(date);
                        row.append(name);
                        row.append(description);
                        row.append(type);
                        row.append(_class);
                        row.append(value);
                        //row.append(operations);
                        $('#showRegisters').append(row);
                    }
                    registers = $('#registers').DataTable({
                        "order": [[ 0, "desc" ]]
                    });
                }
            });
        }

        const loadClass = (value) => {
            if (value == 'cp') return 'Curto praso';
            else if (value == 'mp') return 'Médio praso';
            else if (value == 'lp') return 'Longo praso';
            else if (value == 'ms') return 'Mensalidade';
            return '';
        }

        const loadType = (value) => {
            if (value == 'si') return 'Saída';
            else if (value == 'en') return 'Entrada';
            return '';
        }

        loadTable();
    });
</script>
{% endblock %}