{% extends 'forms.html' %}
{% block page_title %} Registros {% endblock %}

{% block page_header %}
    <style>
        #p2 { color: #b13030; }
        
        th { color: #b13030; }

        th, td {
            padding: 15px;
            background-color: #f5f5f5;
        }

    </style>
{% endblock %}

{% block form %}
    <span>Insira as informações:</span><br />
    <input id="date" type='date' name='date' required /><br />
    <input id="title" placeholder='Título' name='title' required /><br />
    <input id="description" placeholder='Descrição' name='detais' required /><br />
    <select id="type" style='width: 310px; margin-top: 10px;' name='type'>
        <option value='si'>Saída</option>
        <option value='en'>Entrada</option>
    </select><br />
    <select id="class" style='width: 310px; margin-top: 10px;' name='class'>
        <option value='cp'>Curto praso</option>
        <option value='mp'>Médio praso</option>
        <option value='lp'>Longo praso</option>
        <option value='ms'>Mensalidade</option>
    </select><br />
    <input id="value" type="text" data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal="," placeholder='Valor em R$' name='value' required /><br />
    <input style='width:310px' type='submit' value='Registrar' required /><br />
{% endblock %}

{% block page_content %}
<span id="newRegister" class='clicavel'>Novo registro</span>
    {% if registers == [] %}
        <h1>Nada foi registrado ainda...</h1>
    {% else %}
        <table>
            <tr>
                <th>Autor</th>
                <th>Data</th>
                <th>Título</th>
                <th>Valor</th>
                <th>Classificação</th>
                <th>Tipo</th>
                <th>Operções</th>
            {% for i in registers %}
                </tr>
                    {% for l in range(3) %} <td>{{i[l]}}</td> {% endfor %}
                    <td>R${{i[3]}}</td>
                    <td>
                        {% if i[6] == 'cp' %} Curto praso {% endif %}
                        {% if i[6] == 'mp' %} Médio praso {% endif %}
                        {% if i[6] == 'lp' %} Longo praso {% endif %}
                        {% if i[6] == 'ms' %} Mensalidade {% endif %}
                    </td>
                    <td>
                        {% if i[4] == 'si' %} Saída {% endif %}
                        {% if i[4] == 'en' %} Entrada {% endif %}
                    </td>
                    <td>
                        <a href='registers/d/{{i[5]}}'><button>Remover</button></a>
                        <a href='registers/v/{{i[5]}}'><button>Detalhes</button></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(() => {
        $('#newRegister').on('click', () => {
            $("#form_window").fadeIn("slow");
        });

        $('#value').maskMoney();

        $('form').on('submit', (e) => {
            e.preventDefault();
            $.ajax({
                url: '/registers',
                type: 'post',
                data: {
                    date: $('#date').val(),
                    title: $('#title').val(),
                    description: $('#description').val(),
                    type: $('#type').val(),
                    class: $('#class').val(),
                    value: $('#value').maskMoney('unmasked')[0]
                },
                success: (result) => {
                    $('#date').val('');
                    $('#title').val('');
                    $('#description').val('');
                    $('#type').val('');
                    $('#class').val('');
                    $('#value').val('');
                    $("#form_window").fadeOut();
                }
            });

            const loadTable = () => {
                
            };
        });
    });
</script>
{% endblock %}